@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0c0316;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0316;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, sans-serif;
}

.helvetica {
  font-family: "Helvetica", sans-serif;
}

.DM-Sans {
  font-family: "DM Sans", sans-serif;
}

@keyframes border-spin {
  0% { border-color: #341d44; }
  25% { border-color: #ffffff; }
  50% { border-color: #341d44; }
  75% { border-color: #ffffff; }
  100% { border-color: #341d44; }
}

.animate-border-spin {
  animation: border-spin 2s linear infinite;
}

html {
  scroll-behavior: smooth;
}

.Grid-bg {
  background:
    conic-gradient(from 90deg at 1px 1px, #0000 90deg, violet 0) 
    0 0 / 50px 50px;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}